<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <Common.Properties.Settings>
      <setting name="CultureInfo" serializeAs="String">
        <value>it-IT</value>
      </setting>
      <setting name="Admin_Level" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Files_Input_Path" serializeAs="String">
        <value>~\FilesInput\</value>
      </setting>
      <setting name="GiorniDemo" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GiorniAvvisoScadenza" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PKPath" serializeAs="String">
        <value>~\Menu\menu.js</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>mypass</value>
      </setting>
      <setting name="LastConn" serializeAs="String">
        <value>~\Menu\menu2.js</value>
      </setting>
      <setting name="SuspendedRegsFile" serializeAs="String">
        <value>Reg_Sospese</value>
      </setting>
      <setting name="RegsBCKFile" serializeAs="String">
        <value>Reg_DaImportare_BCK_{0}.txt</value>
      </setting>
      <setting name="IsSaveChangesLogActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExcelModelsPath" serializeAs="String">
        <value>~\ExcelModels\</value>
      </setting>
      <setting name="IsCheckFailedLogActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateTimeDisplayFormatString" serializeAs="String">
        <value>dd/MM/yyyy HH:mm</value>
      </setting>
      <setting name="DateTimeDisplayFormatString_en_US" serializeAs="String">
        <value>MM/dd/yyyy HH:mm</value>
      </setting>
      <setting name="PrintRecordAccessInErrorImport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Winit_Level" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Files_Input_Backup_Path" serializeAs="String">
        <value>~\FilesInput\Backup\</value>
      </setting>
      <setting name="RegFile" serializeAs="String">
        <value>Reg_DaImportare</value>
      </setting>
      <setting name="XmlColorConfigRelativeFilePath" serializeAs="String">
        <value>XmlConfig\Colors.xml</value>
      </setting>
      <setting name="XmlCustomizationConfigFileRelativePath" serializeAs="String">
        <value>XmlConfig\Customization.xml</value>
      </setting>
      <setting name="Files_Output_Path" serializeAs="String">
        <value>FilesOutput\</value>
      </setting>
      <setting name="Deploy_Version_File_Path" serializeAs="String">
        <value>~\DeployVersion.txt</value>
      </setting>
      <setting name="OpzReportTableName" serializeAs="String">
        <value>OPZIONI_REPORT</value>
      </setting>
      <setting name="ExportedToPerfettoDatesColFile" serializeAs="String">
        <value>ExportedToPerfetto.xml</value>
      </setting>
      <setting name="APIUserName" serializeAs="String">
        <value>APIUSER</value>
      </setting>
      <setting name="ModulesActivationFilePath" serializeAs="String">
        <value>~\XmlConfig\Modules.xml</value>
      </setting>
      <setting name="BudgetConfrontationSpecialized" serializeAs="String">
        <value>Exports.ExportExcelCustom.ExportSpecialized.ExportConfrontoOreBudget</value>
      </setting>
      <setting name="MaxNonGpsRegLinePatternLength" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="GpsCantCodePrefix" serializeAs="String">
        <value>GPS</value>
      </setting>
      <setting name="GpsCantNumberStringFormat" serializeAs="String">
        <value>00000</value>
      </setting>
      <setting name="DeviceActivityBaseCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ATTIV</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ActivityAutoClosureCustomData" serializeAs="String">
        <value>ActivityAutoClosure</value>
      </setting>
      <setting name="EndActivityCode" serializeAs="String">
        <value>ATTIVWXYZ9</value>
      </setting>
      <setting name="ActivityMarkedForDeletionCustomData" serializeAs="String">
        <value>MarkedForDeletion</value>
      </setting>
      <setting name="Files_Input_JSON_Segnal_Backup_Path" serializeAs="String">
        <value>~\FilesInput\SignalJsonBackup\</value>
      </setting>
      <setting name="Files_Input_Segn_Backup_Path" serializeAs="String">
        <value>~\FilesInput\Backup\Segnalazioni\</value>
      </setting>
      <setting name="Files_Input_JSON_Backup_Path" serializeAs="String">
        <value>~\FilesInput\Backup\JsonTimbrature\</value>
      </setting>
      <setting name="Files_Input_JSON_Audio_Backup_Path" serializeAs="String">
        <value>~\FilesInputBackupJsonAudio\</value>
      </setting>
      <setting name="Files_Input_JSON_Activity_Backup_Path" serializeAs="String">
        <value>~\FilesInputBackupJsonActivity\</value>
      </setting>
      <setting name="Files_Input_Audio_Path" serializeAs="String">
        <value>~\FilesInputClockAppAudio\</value>
      </setting>
      <setting name="Files_Input_Col_Backup_Path" serializeAs="String">
        <value>~\FilesInput\Backup\Col\</value>
      </setting>
      <setting name="Files_Input_Cant_Backup_Path" serializeAs="String">
        <value>~\FilesInput\Backup\Cant\</value>
      </setting>
      <setting name="Files_Input_UserFiles" serializeAs="String">
        <value>~\FilesInput\UserFiles</value>
      </setting>
      <setting name="SegnBackup" serializeAs="String">
        <value>~\FilesInput\Backup\Segnalazioni</value>
      </setting>
      <setting name="SuspendedSegnFile" serializeAs="String">
        <value>Segn_Sospese</value>
      </setting>
      <setting name="ExternalImportConfig" serializeAs="String">
        <value>~\XmlConfig\ExternalOperationsConfig.xml</value>
      </setting>
      <setting name="JsonBackupFileNamePattern" serializeAs="String">
        <value>TmpJsonDownload-{0}-{1}-{2}-{3}-{4}-{5}.txt</value>
      </setting>
      <setting name="SuperUsersFilePath" serializeAs="String">
        <value>~\XmlConfig\SuperUsers.xml</value>
      </setting>
    </Common.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
